# dot files
.DS_Store

# Node.js
node_modules
pnpm-lock.yaml
yarn.lock

# TSC
tsconfig.tsbuildinfo

# Scaffold
.env
.scaffold
build
logs

# Python
.venv

# Temporary files
guia-refs-text.txt
guia-citacoes-2025.pdf
guia-citacoes-2025.txt
guia-referencias-2023.pdf
guia-referencias-2023.txt